# Django
server/.env
server/venv/
server/__pycache__/
server/*.pyc
server/db.sqlite3
server/media/

# React
client/node_modules/
client/dist/
client/build/
client/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store