# Django
server/AnnaSetu/.env
server/AnnaSetu/venv/
server/AnnaSetu/__pycache__/
server/AnnaSetu/*.pyc
server/AnnaSetu/db.sqlite3
server/AnnaSetu/media/

# React
client/node_modules/
client/dist/
client/build/
client/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store